html {
  -webkit-font-smoothing: antialiased;
  background: #151619;
  color: #c9cbcd;
  font-family: "Inter", "Roobert", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  text-rendering: optimizeLegibility;
}

body {
  width: 300px;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  font-size: 100%;
}

.container {
  padding-bottom: 10px;
  text-align: center;
}

.logo-wrapper {
  margin: 30px 30px 15px 30px;
  border-radius: 8px;
  background-color: #202127;
}

.button-group {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.button {
  padding: 10px 20px;
  border-radius: 6px;
  color: #c3c4ca;
  font-weight: bold;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
.button:hover {
  background-color: #1d1f23;
}
.button:not(:first-of-type) {
  margin-left: 15px;
}
.discord {
  display: inline-block;
  margin-right: 3px;
  overflow: visible;
}
.button-arrow .arrow-icon {
  width: 8px;
  margin-bottom: -2px;
  margin-left: 3px;
  overflow: visible;
}
.icon {
  margin-bottom: -3px;
}
.button-text {
  margin-bottom: 10px;
}
.button-arrow .arrow-head {
  transform: translateX(0);
  transition: transform 150ms ease-in-out;
}
.button-arrow .arrow-body {
  transform: scaleX(1);
  opacity: 0;
  transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
}
.button-arrow:hover .arrow-head {
  transform: translateX(3px);
}
.button-arrow:hover .arrow-body {
  transform: scaleX(2);
  opacity: 1;
}

#update-banner {
  display: none;
  margin: 8px 8px 0 8px;
  padding: 15px;
  border-radius: 8px;
  background-color: #7d5eba;
  color: #ffffff;
  font-size: 10pt;
  text-align: left;
}
#update-banner a,
#update-banner a:visited {
  color: #ffffff;
  transition: opacity 100ms ease-in-out;
}
#update-banner a:hover,
#update-banner a:hover:visited {
  color: #ffffff;
  opacity: 0.8;
}

#stream-status {
  display: none;
  margin: 0 30px;
  padding: 15px;
  gap: 7px;
  border-bottom: 1px solid hsl(210, 4%, 25%);
  border-radius: 8px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #202127;
  text-align: start;
}
#stream-status #redirected.success {
  color: #43b581;
}
#stream-status #redirected.error {
  color: #f04747;
}
#stream-status #stream-id {
  font-weight: bold;
}
#stream-status #reason {
  font-size: 9pt;
  opacity: 0.8;
}
#stream-status #proxy-country {
  display: inline-block;
  margin-top: 5px;
  font-size: 7pt;
  opacity: 0.6;
}

#whitelist-toggle-wrapper {
  display: none;
  margin-top: 0;
  margin-right: 30px;
  margin-bottom: 0;
  margin-left: 30px;
  border-radius: 8px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background-color: #202127;
  transition: background-color 150ms ease-in-out;
}
#whitelist-toggle-wrapper:hover {
  background-color: #292b32;
}
#whitelist-toggle {
  display: none;
}
#whitelist-toggle:checked + #whitelist-toggle-label {
  color: #baaadb;
}
#whitelist-toggle-label {
  display: block;
  margin: 0;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 11pt;
  cursor: pointer;
}
