html {
  background: #151619;
  color: #c9cbcd;
  font-family: Open Sans, Segoe UI, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-size: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.container {
  text-align: center;
  padding-bottom: 10px;
}

.logo-wrapper {
  background-color: #202127;
  border-radius: 8px;
  margin: 30px 30px 15px 30px;
}

.button-group {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.button {
  border-radius: 6px;
  color: #c3c4ca;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
.button:hover {
  background-color: #1d1f23;
}
.button:not(:first-of-type) {
  margin-left: 15px;
}
.discord {
  overflow: visible;
  margin-right: 3px;
  display: inline-block;
}
.button-arrow .arrow-icon {
  overflow: visible;
  margin-left: 3px;
  margin-bottom: -2px;
  width: 8px;
}
.icon {
  margin-bottom: -3px;
}
.buton-text {
  margin-bottom: 10px;
}
.button-arrow .arrow-head {
  transform: translateX(0);
  transition: transform 150ms ease-in-out;
}
.button-arrow .arrow-body {
  opacity: 0;
  transform: scaleX(1);
  transition: transform 150ms ease-in-out, opacity 150ms ease-in-out;
}
.button-arrow:hover .arrow-head {
  transform: translateX(3px);
}
.button-arrow:hover .arrow-body {
  opacity: 1;
  transform: scaleX(2);
}

#stream-status {
  background-color: #202127;
  border-radius: 8px;
  display: none;
  gap: 7px;
  margin: 0 30px;
  padding: 15px;
  text-align: start;
}
#stream-status #redirected.success {
  color: #43b581;
}
#stream-status #redirected.error {
  color: #f04747;
}
#stream-status #stream-id {
  font-weight: bold;
}
#stream-status #reason {
  font-size: 9pt;
  opacity: 0.8;
}
#stream-status #proxy-country {
  display: inline-block;
  font-size: 7pt;
  margin-top: 5px;
  opacity: 0.6;
}
