:root {
  --font-family: "Inter", "Roobert", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --border-radius: 8px;
}

html {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  background: #151619;
  color: #c9cbcd;
  font-family: var(--font-family);
  text-rendering: optimizeLegibility;
}

body {
  width: 310px;
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 20px;
  gap: 15px;
}

main > * {
  width: 100%;
  overflow: hidden;
  border-radius: var(--border-radius);
}

/* Update banner */

#update-banner {
  display: none;
  margin: 3px 3px 0 3px;
  padding: 15px;
  border: 1px solid #7d5eba;
  border-radius: 5px;
  background-color: #7d5eba4d;
  color: #ffffff;
  font-size: 9pt;
}

#update-banner .update-banner-link,
#update-banner .update-banner-link:visited {
  color: currentColor;
  transition: opacity 100ms ease-in-out;
}

#update-banner .update-banner-link:hover,
#update-banner .update-banner-link:hover:visited {
  color: currentColor;
  opacity: 0.8;
}

/* Logo */

.logo-wrapper {
  background-color: #202127;
  text-align: center;
}

.logo-wrapper img {
  width: 60%;
}

#stream-status {
  display: none;
  flex-direction: column;
  margin-bottom: 0;
  background-color: #202127;
}
#stream-status .stream-status-container {
  display: flex;
  padding: 18px 14px 14px 14px;
  gap: 7px;
  text-align: start;
}
#stream-status #redirected.success {
  color: #43b581;
}
#stream-status #redirected.error {
  color: #f04747;
}
#stream-status #stream-id {
  font-weight: bold;
}
#stream-status #reason {
  font-size: 9pt;
  opacity: 0.8;
}
#stream-status #proxy-country {
  display: inline-block;
  margin-top: 10px;
  font-size: 7pt;
  opacity: 0.6;
}
#whitelist-toggle-wrapper {
  display: none;
  height: 40px;
  margin-top: 0;
  border-top: 1px solid #3d4042;
  background-color: #202127;
  text-align: center;
  transition: background-color 100ms ease-in-out;
}
#whitelist-toggle-wrapper:hover {
  background-color: #292b32;
}
#whitelist-toggle {
  display: none;
}
#whitelist-toggle:checked + #whitelist-toggle-label {
  color: #baaadb;
}
#whitelist-toggle-label {
  display: block;
  margin: 0;
  padding: 10px 15px;
  font-weight: bold;
  font-size: 11pt;
  cursor: pointer;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list li {
  border-bottom: 1px solid #3d4042;
}
.list li:last-child {
  border-bottom: none;
}

.list .list-item,
.list .list-item:visited {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 10px 15px;
  background-color: #202127;
  color: #c9cbcd;
  text-align: left;
  text-decoration: none;
  transition: background-color 100ms ease-in-out;
}
.list .list-item:hover,
.list .list-item:visited:hover {
  background-color: #292b32;
}

.list .list-item .list-item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.list .list-item .list-item-title {
  display: block;
  margin: 0 0 2px 0;
  font-weight: bold;
  font-size: 11pt;
}
.list .list-item .list-item-description {
  display: block;
  margin: 0;
  font-size: 8pt;
  opacity: 0.8;
}
