:root {
  --font-primary: "Open Sans", "Segoe UI", sans-serif;

  --brand-color: #9147ff;
  --ui-background-color: #151619;

  --text-primary: #c9cbcd;
  --text-secondary: #8d9296;

  --input-background-color: #1d1f23;
  --input-border-color: #353840;
  --input-text-primary: #c3c4ca;

  --header-height: 2.5rem;
}

body {
  margin: 1.5rem;
  background-color: var(--ui-background-color);
  color: var(--text-primary);
  accent-color: var(--brand-color);
  font-size: 100%;
  font-family: var(--font-primary);
}

::-moz-selection,
::selection {
  background-color: var(--brand-color);
  color: #ffffff;
}

input[type="text"],
select {
  height: 30px;
  padding: 0 0.65rem;
  border: 1px solid var(--input-border-color);
  border-radius: 6px;
  background-color: var(--input-background-color);
  color: var(--input-text-primary);
  vertical-align: middle;
}

input[type="text"]::placeholder {
  font-style: italic;
}

header {
  height: var(--header-height);
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: var(--header-height);
}

.logo > img {
  max-height: 100%;
}

section > h2 {
  font-size: 1.15rem;
}

.tag {
  margin-left: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  background-color: var(--input-border-color);
  color: var(--input-text-primary);
  font-weight: 600;
  font-size: 0.65rem;
  text-transform: uppercase;
}

small {
  color: var(--text-secondary);
  font-size: 9pt;
}

#whitelisted-channels-list > li > input {
  min-width: 300px;
  margin-bottom: 0.25rem;
}

.options-list {
  list-style-type: none;
}

.options-list > li {
  position: relative;
  margin-bottom: 1rem;
}

.options-list > li > input[type="checkbox"] {
  position: absolute;
  left: -1.6rem;
  margin-top: 0.3rem;
}

summary {
  margin-bottom: 0.5rem;
}

#local-server-input {
  display: none;
}
